body {
  height: 100%;
  background-color: #FCFCFC;
  padding: 0;
}

.container {
  margin: 20px auto;
  width: 1000px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

#main {
  margin-top: 90px;
}

.main {
  margin: 90px auto 0 auto;
  height: 600px;
  width: 1000px;
  font-size: 70%;
  font-family: 'Alegreya', serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 180%;
  padding: 0 0 10px 0;
  margin: 0;
}

td {
  font-size: 150%;
}

ul {
  padding-top: 0;
  margin: 0;
}

li {
  font-size: 150%;
  padding: 0;
}

input[type=submit], button   {
  width: 100px;
  height: 25px;
  font-size: 120%;
  padding: 2px;
  text-align: center;
  line-height: 20px;
  color: white;
  background-color: #95a5a6;
  border: 1px solid #95a5a6;
  border-radius: 5px;
}

button {
  display: inline;
}

input[type=submit]:hover, button:hover {
  background-color: #FF1493;
  border: #FF1493;
}

#about {
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#about a {
  color: #FF1493;
  font-size: 150%;
}

.about {
  margin: 0 auto;
  width: 500px;
}

.about p {
  font-size: 150%;
}

.errors ul li{
  list-style-type: none;
  color: #FF1493;
}