#new_crush_div {
  width: 700px;
  margin: 0 auto 40px auto;
}

#new_crush, #new_crush_form {
  margin: 0 auto;
  text-align: center;
}

#new_crush input, #crush input {
  height: 20px;
  font-size: 130%;
  margin-bottom: 2px;
  width: 150px;
}

#new_crush button, #crush button {
  margin-bottom: 2px;
}

#all_crushes {
  width: 700px;
  margin: 0 auto;
}

#all_crushes table {
  border: 2px solid #EBEBEB;
  padding: 8px;
}

#all_crushes table {
  background-color: #EBEBEB;
}

#all_crushes table td, th {
  border: 2px solid #EBEBEB;
  width: 150px;
  padding: 4px;
  margin: 0;
}

#all_crushes th {
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  text-align: center;
}

#all_crushes td {
  background-color: white;
  text-align: right;
  font-size: 130%;
}

#import {
  width: 200px;
}

#contacts {
  margin: 20px;
}

#crushes_submit {
  position: absolute;
  left: 288px;
}

.contact {
  margin: 0 auto;
  margin-top: 0;
  display: inline-block;
  border: 2px solid #EBEBEB;
  border-radius: 15px;
  height: 160px;
  width: 100px;
  padding: 10px;
  vertical-align: top;
  line-height: 50%;
}

.contact img {
  margin: 0 auto;
}

.contact:hover {
  border-color: #FF1493;
}
