<div id="all_crushes">
  <h2>YOUR CRUSHES</h2>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Status</th>
    </tr>
    <% @crushes.each do |crush|%>
    <tr>
      <td><%= crush.first_name %></td>
      <td><%= crush.last_name %></td>
      <td><%= crush.phone.phone_number %></td>
      <td><%= crush.status %></td>
    </tr> 
    <% end %>
  </table>
  </div>
</div>