<div id="all_free_dates">
  <h2>Your available dates</h2>
  <table>
    <% @times.each do |time|%>
      <tr>
        <td><%= time.start_time_formatted %></td>
      </tr> 
    <% end %>
  </table>
</div>
