<div id="crush">
  <div id="new_crush">
    <input class="crush-input" name="0[first_name]" type="text" placeholder="Daario">
    <input class="crush-input" name="0[last_name]" type="text" placeholder="Naharis">
    <input class="crush-input" name="0[phone]" type="text" placeholder="696-969-9696">
    <button type="button" id="add_crush">Add Crush</button>
    <br>
  </div>
</div>

