<div id="crush">
  <span id="new_crush">
    <input class="crush" name="0[first_name]" type="text" placeholder="Daario">
    <input class="crush" name="0[last_name]" type="text" placeholder="Naharis">
    <input class="crush" name="0[phone]" type="text" placeholder="696-969-9696">
  </span>
  <button type="button" id="add_crush">Add Crush</button>
  <br>
</div>

