<div class="main">
  <div id="new_date_div">
    <h2>Crushes</h2>

    <form class="crushes" action="/crushes" method="post">
      <%= erb :_crush %>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
