<div id="crush_main" class="main">
  <div id="new_crush_div">
    <h2>ADD CRUSHES</h2>

    <button id="import">Add Google Contacts</button>

    <div id="contacts">
      <% if @contacts %>
        <%= erb :_contact_list %>
      <% end %>
    </div>

    <%= erb :_crush %>
    
  </div>

  <div id="all_crushes">
    <%= erb :_all_crushes %>
  </div>

</div>
