<input class="crush" name="crush[name]" type="text" placeholder="Daario Naharis">
<input class="crush" name="crush[phone]" type="text" placeholder="696-969-9696">
<button type="add_crush">Add Crush</button>

