<div id="crush">
  <input class="crush" name="crush[first_name]" type="text" placeholder="Daario">
  <input class="crush" name="crush[last_name]" type="text" placeholder="Naharis">
  <input class="crush" name="crush[phone]" type="text" placeholder="696-969-9696">
  <button class="add_crush">Add Crush</button>
  <br>
</div>

