<div id="crush_main" class="main">
  <div id="new_crush_div">
    <h2>ADD CRUSHES</h2>

    <button id="import" value="Add Google Contacts"></button>

    <div id="contacts"></div>

    <form id="new_crush_form">
      <%= erb :_crush %>
      <input id="crushes_submit" type="submit" value="Submit">
    </form>
  </div>

  <div id="all_crushes">
    <%= erb :_all_crushes %>
  </div>

</div>
