<div id="datetime" class="datetime">
  <input type="date" name="date[date]">
  <input name="date[start]" type="time">
  <input class="date[end]" type="time">
  <button class="add_date">Add Time</button><br>
</div>
