<div id="datetime" class="datetime">
  <input name="free_time[free_date]" type="date">
  <input name="free_time[start_time]" type="time">
  <input name="free_time[end_time]" type="time">
  <button class="add_date">Add Time</button><br>
</div>
