<div class="main">

  <div id="new_date_div">
    <h2>ADD TIMES</h2>

    <form id="new_date_form">
      <%= erb :_datetime %>
      <input id="schedule_submit" type="submit" value="Submit">
    </form>
  </div>

  <div id="all_free_dates">
    <%= erb :_all_free_dates %>
  </div>
</div>
