<div class="main">

  <div id="new_date_div">
    <h2>When are you free?</h2>

    <form id="new_date_form">
      <%= erb :_datetime %>
      <input id="schedule_submit" type="submit" value="Submit">
    </form>
  </div>

  <div id="current_date_div">
    <h2>Your available dates</h2>

  </div>
</div>