<div id='g_oauth'>
  Date Automating is much easier when we have access to your Google Contacts!
  <br>
  <% if currentuser %>
    <a href="/oauth_google">Authorize</a>
    <button id="opt_out_google">Opt Out</button>
  <% end %>
</div>
