<div class='nav_bar'>
  <a href='/' id="logo">
    <span id="logo_date">DATE</span><span> AUTOMATOR</span>
  </a>

  <ul>
    <% if currentuser %>
      <li><a href='/schedule'>Schedule</a></li>
      <li><a href='/crushes'>Crushes</a></li>
      <li><a href='/user/<%= session[:user_id]%>'>Your Dates</a></li>
      <li><a id='logout' href='/logout'>Log Out</a></li>
    <% end %>
      <li><a id='about' href='/about'>About</a></li>
  </ul>

</div>
