<div class="main">
  <div class="about">
    <h2>WHAT</h2>
    <p>Date Automator takes the work out of scheduling dates! Using Twilio, the Automator will text message your crushes and confirms whether they would like to date you. It then schedules a date with them at a time when you are available.</p>
  </div>
  <div class="about">
    <h2>WHO</h2>
    <p>This was made by <a href="http://www.mariapacana.com/">Maria Pacana</a>, a current student at Hacker School.</p>
    <p>There is a Github repository <a href="https://github.com/mariapacana/date-automator">here</a> that includes user stories and the current status of the project.</p>
  </div>
  <div class="about">
    <h2>WHY</h2>
    <ul>
      <li>Because the idea of a flirting AI is fascinating.</li>
      <li>Because you get more done when you can outsource your life.</li>
      <li>Because it's fun to play with different APIs.</li>
    </ul>
  </div>
</div>
