<div class="main">
  <div class="about">
    <h2>WHAT</h2>
    <p>Date Automator takes the work out of scheduling dates! Using Twilio, the Automator will text message your crushes and confirms whether they would like to date you. It then schedules a date with them at a time when you are available.</p>
  </div>
  <div class="about">
    <h2>WHO</h2>
    <p>This was made by <a href="http://www.mariapacana.com/">Maria Pacana</a>, a current student at Dev Bootcamp.</p>
    <p>There is a Github repository <a href="https://github.com/mariapacana/date-automator">here</a>.</p>
  </div>
  <div class="about">
    <h2>WHY</h2>
    <p>Partly because I'm fascinated by the idea of a flirting AI, partly because I like outsourcing my life, and partly to get some experience working with the Twilio and Google APIs.</p>
  </div>
</div>