<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Orienta|Pathway+Gothic+One|Alegreya|Six+Caps' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Questrial|Convergence|Asap|Alef|Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/nav_bar.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/crushes.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/schedule.js"></script>
  <script src="/js/crushes.js"></script>

  <title></title>
</head>
<body>
  <%= if currentuser then erb :_nav end %>
  <%= yield %>
</body>
</html>
